<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EPUB.js Input Example</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
  <style type="text/css">
#title {
  width: 900px;
  min-height: 18px;
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  color: #E2E2E2;
  font-weight: 400;
}
body {
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #222831;

}
.arrow {
  position: fixed;
  top: 50%;
  margin-top: -32px;
  font-size: 64px;
  color: #E2E2E2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
}
#prev {
  left: 10%;
}

#next {
  right: 10%;
}
.navlink {
  margin: 14px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ccc;
}

.arrow:hover, .navlink:hover {
  color: #777;
}

.arrow:active, .navlink:hover {
  color: #000;
}

    #viewer {
      width: 600px;
      height: 100vh;
      overflow: auto;
      margin: 0 auto;
    }

  </style>
</head>
<body>
  <div id="title"><input type="file" id="input"></div>
  <br />
  <br />
  <div id="viewer" class="spreads"></div>
  <a id="prev" href="#prev" class="arrow">‹</a>
  <a id="next" href="#next" class="arrow">›</a>

  <script>

  var book = ePub();
  var rendition;

  var inputElement = document.getElementById("input");

  inputElement.addEventListener('change', function (e) {
        var file = e.target.files[0];
        if (window.FileReader) {
            var reader = new FileReader();
            reader.onload = openBook;
            reader.readAsArrayBuffer(file);
        }
    });

  function openBook(e){
    var bookData = e.target.result;
    var title = document.getElementById("title");
    var next = document.getElementById("next");
    var prev = document.getElementById("prev");

    book.open(bookData, "binary");

    rendition = book.renderTo("viewer", {
      width: "100%",
      height: "80%",
      manager: "continuous",
      flow: "paginated"
    });

    rendition.display();
	
	var keyListener = function(e){

      // Left Key
      if ((e.keyCode || e.which) == 37 || (e.keyCode || e.which) == 40) {
        rendition.prev();
      }

      // Right Key
      if ((e.keyCode || e.which) == 39 || (e.keyCode || e.which) == 38)  {
        rendition.next();
      }

    };

    rendition.on("keyup", keyListener);
    rendition.on("relocated", function(location){
      console.log(location);
    });

    next.addEventListener("click", function(e){
      rendition.next();
      e.preventDefault();
    }, false);

    prev.addEventListener("click", function(e){
      rendition.prev();
      e.preventDefault();
    }, false);





    rendition.themes.default({
      h2: {
        'font-size': '32px',
        color: 'purple'
      },
      p: {
        "margin": '10px'
      },
      body: {
        'background': '#222831',
	      'color': '#ccc'
      },
    });

    rendition.themes.select("dark");
    


    document.addEventListener("keyup", keyListener, false);
  }



  </script>

</body>
</html>
